<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.perleybrook.isqip"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.perleybrook.isqip.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.perleybrook.isqip.MyList"
            android:label="List Activity">
            
        </activity>
        <activity
            android:name="com.perleybrook.isqip.SecondActivity"
            android:label="Second Activity">
        </activity>
        <activity
            android:name="com.perleybrook.isqip.MainActivity"
            android:label="Main Activity">
        </activity>
        <activity
            android:name="com.perleybrook.isqip.ServiceLauncher"
            android:label="Service launcher">
        </activity>
        <activity
            android:name="com.perleybrook.isqip.SourceActivity"
            android:label="Source Activity">
        </activity>
        <activity
            android:name="com.perleybrook.isqip.DisplayActivity"
            android:label="Display Activity">
        </activity>
        <activity
            android:name="com.perleybrook.isqip.SavingData"
            android:label="Display Activity">
        </activity>
        <activity
            android:name="com.perleybrook.isqip.JsonActivity"
            android:label="Json Activity">
        </activity>
        
        <service android:name=".MyService"></service>
        <receiver android:name=".MyReceiver">
            <intent-filter >
                <action android:name = "android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
